{% extends 'include/homepage.html' %}
{% load static %}
{% block content %}
{% include 'include/header.html' %}


      <main>

         <!-- breadcrumb area start -->
         <section class="breadcrumb__area include-bg pt-95 pb-50">
            <div class="container">
               <div class="row">
                  <div class="col-xxl-12">
                     <div class="breadcrumb__content p-relative z-index-1">
                        <h3 class="breadcrumb__title">Сравнение товаров</h3>
                        <div class="breadcrumb__list">
                           <span><a href="{% url 'index' %}">Главная страница</a></span>
                           <span>Сравнение товаров</span>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </section>
         <!-- breadcrumb area end -->


        <!-- compare area start -->
        <section class="tp-compare-area pb-120">
         <div class="container">
             <div class="row">
                 <div class="col-xl-12">
                     <div class="tp-compare-table table-responsive text-center">
                         <table class="table">
                             <tbody>
                               <tr>
                                 <th>Название</th>
                                 <td>
                                     <div class="tp-compare-thumb">
                                         <img src="assets/img/product/product-1.jpg" alt="">
                                         <h4 class="tp-compare-product-title">
                                             <a href="product-details.html">Название продукта</a>
                                         </h4>
                                     </div>
                                 </td>
                                 <td>
                                     <div class="tp-compare-thumb">
                                         <img src="assets/img/product/product-3.jpg" alt="">
                                         <h4 class="tp-compare-product-title">
                                             <a href="product-details.html">Cancelling Headphones Wireless Devices Blue.</a>
                                         </h4>
                                     </div>
                                 </td>

                               </tr>
                               <tr>
                                 <th>Description</th>
                                 <td>
                                     <div class="tp-compare-desc">
                                         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, distinctio.</p>
                                     </div>
                                 </td>
                                 <td>
                                    <div class="tp-compare-desc">
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, distinctio.</p>
                                    </div>
                                </td>

                               <tr>
                                 <th>Price</th>
                                 <td>
                                     <div class="tp-compare-price">
                                         <span>$98.00</span>
                                         <span class="old-price">$128.00</span>
                                     </div>
                                 </td>
                                 <td>
                                     <div class="tp-compare-price">
                                         <span>$43.00</span>
                                     </div>
                                 </td>

                               </tr>
                               <tr>
                                 <th>Add to cart</th>
                                 <td>
                                     <div class="tp-compare-add-to-cart">
                                         <button type="submit" class="tp-btn">Add to Cart</button>
                                     </div>
                                 </td>
                                 <td>
                                     <div class="tp-compare-add-to-cart">
                                         <button type="submit" class="tp-btn">Add to Cart</button>
                                     </div>
                                 </td>

                               </tr>

                               </tr>
                             </tbody>
                           </table>
                     </div>
                 </div>
             </div>
         </div>
        </section>
         

      </main>
   
      
{% include 'include/footer.html' %}
{% endblock %}
      