{% extends 'include/homepage.html' %}
{% load static %}
{% block content %}
{% include 'include/header.html' %}

      <main>

         <!-- breadcrumb area start -->
         <section class="breadcrumb__area include-bg text-center pt-95 pb-50">
            <div class="container">
               <div class="row">
                  <div class="col-xxl-12">
                     <div class="breadcrumb__content p-relative z-index-1">
                        <h3 class="breadcrumb__title">Оставайтесь на связи с нами</h3>
                        <div class="breadcrumb__list">
                           <span><a href="{% url 'index' %}">Главная страница</a></span>
                           <span>Наши контакты</span>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </section>
         <!-- breadcrumb area end -->


         <!-- contact area start -->
         <section class="tp-contact-area pb-100">
            <div class="container">
               <div class="tp-contact-inner">
                  <div class="row">
                     <div class="col-xl-9 col-lg-8">
                        <div class="tp-contact-wrapper">
                           <h3 class="tp-contact-title">Не стесняйтесь писать нам в любое время</h3>

                           <div class="tp-contact-form">
                              <form id="contact-form"  method="POST">
                                 {% csrf_token %}
                                 <div class="tp-contact-input-wrapper">
                                    <div class="tp-contact-input-box">
                                       <div class="tp-contact-input">
                                          <input name="name" id="name" type="text" placeholder="Абдыкадыров Сыймык">
                                       </div>
                                       <div class="tp-contact-input-title">
                                          <label for="name">ФИО</label>
                                       </div>
                                    </div>
                                    <div class="tp-contact-input-box">
                                       <div class="tp-contact-input">
                                          <input name="phone" id="email" type="text" placeholder="+996 (777) 777 777">
                                       </div>
                                       <div class="tp-contact-input-title">
                                          <label for="email">Номер телефона</label>
                                       </div>
                                    </div>
                                    <div class="tp-contact-input-box">
                                       <div class="tp-contact-input">
                                          <input name="cause" id="subject" type="text" placeholder="Напишите причину по которой вы к нам обращаетесь">
                                       </div>
                                       <div class="tp-contact-input-title">
                                          <label for="subject">Причина</label>
                                       </div>
                                    </div>
                                    <div class="tp-contact-input-box">
                                       <div class="tp-contact-input">
                                         <textarea id="message" name="message" placeholder="Введите текст..."></textarea>
                                       </div>
                                       <div class="tp-contact-input-title">
                                          <label for="message">Сообщение</label>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="tp-contact-btn">
                                    <button type="submit">ОТПРАВИТЬ</button>
                                 </div>
                              </form>
                              <!-- <p class="ajax-response"></p> -->
                           </div>
                        </div>
                     </div>
                     <div class="col-xl-3 col-lg-4">
                        <div class="tp-contact-info-wrapper">
                           <div class="tp-contact-info-item">
                              <div class="tp-contact-info-icon">
                                 <span>
                                    <img src="{% static 'assets/img/contact/contact-icon-1.png' %}" alt="">
                                 </span>
                              </div>
                              <div class="tp-contact-info-content">
                                 <p data-info="mail"><a href="mailto:{{settings.email}}">{{settings.email}}</a></p>
                                 <p data-info="phone"><a href="tel:{{settings.phone}}">{{settings.phone}}</a></p>
                              </div>
                           </div>
                           <div class="tp-contact-info-item">
                              <div class="tp-contact-info-icon">
                                 <span>
                                    <img src="{% static 'assets/img/contact/contact-icon-2.png' %}" alt="">
                                 </span>
                              </div>
                              <div class="tp-contact-info-content">
                                 <p>
                                    <a href="https://go.2gis.com/8v81u" target="_blank">
                                       {{settings.location}}
                                    </a>
                                 </p>
                              </div>
                           </div>
                           <div class="tp-contact-info-item">
                              <div class="tp-contact-info-icon">
                                 <span>
                                    <img src="{% static 'assets/img/contact/contact-icon-3.png' %}" alt="">
                                 </span>
                              </div>
                              <div class="tp-contact-info-content">
                                 <div class="tp-contact-social-wrapper mt-5">
                                    <h4 class="tp-contact-social-title">Наши соц. сети</h4>

                                    <div class="tp-contact-social-icon">
                                       {% if settings.facebook %}
                                       <a href="{{settings.facebook}}"><i class="fa-brands fa-facebook-f"></i></a>
                                       {% endif %}
                                       {% if settings.twitter %}
                                       <a href="{{settings.twitter}}"><i class="fa-brands fa-twitter"></i></a>
                                       {% endif %}
                                       {% if settings.instagram %}
                                       <a href="{{settings.instagram}}"><i class="fa-brands fa-instagram"></i></a>
                                       {% endif %}
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </section>
         <!-- contact area end -->

         <!-- map area start -->
         <section class="tp-map-area pb-120">
            <div class="container">
               <div class="row">
                  <div class="col-xl-12">
                     <div class="tp-map-wrapper">
                        <div class="tp-map-hotspot">
                           <span class="tp-hotspot tp-pulse-border">
                              <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                 <circle cx="6" cy="6" r="6" fill="#821F40"/>
                              </svg>
                           </span>
                        </div>
                        <div class="tp-map-iframe">
                           <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d365.51427646382444!2d74.61051498491818!3d42.870433450422404!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2skg!4v1701285557603!5m2!1sru!2skg" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </section>
         <!-- map area end -->

      </main>
      
{% include 'include/footer.html' %}
{% endblock %}