.quiz{
    position: fixed;
    width: 350px;
    background-color: var(--tp-theme-primary);
    border-radius: 8px 8px 0 0;
    bottom: 0;
    left: 4.5rem;
    z-index: 4;
    color: var(--tp-common-white);
    cursor: pointer;
    padding: 10px;
    border: 1px solid white;
    transform: translateY(82%);
    transition: transform .8s;
}
.quiz-active{
    transform: translateY(0) !important;
}
.quiz__top{
    text-align: center;
    font-size: 26px;
    padding: 10px 0;
}
.quiz__bottom .form2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.quiz__block{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    font-size: 16px;
    display: none;
    transition: all .8s ;
}
.quiz__block span{
    font-size: 22px;
    margin: 15px 0;
}
.quiz__div{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
    justify-content: center;
    margin-bottom: 10px;
    width: 100%;
}
.quiz__bottom{
    width: 100%;
}
.option{
    font-size: 18px;
    width:100%;
    display: flex;
    cursor: pointer;
    position: relative;
}
.label-active{
    border-color: black;
    color: black;
}
.option label{
    display: block;
    padding:10px;
    border: 1px solid;
    border-radius: 15px;
    width: 100%;
    transition: all .8s;
}
.option input[type=checkbox]{
    position: absolute;
    z-index: 6;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}
.quiz__block div button{
    width: fit-content;
    word-wrap: break-word;
    background-color: white;
    color: var(--tp-common-black);
    border: none;
    outline: none;
    font-size: 16px;
    border-radius: 8px;
    padding: 5px;
    max-width: 45%;
}
.quiz__buttons{
    display: flex;
    gap: 0 5px;
}
#prev_q, #next_q, #submit_q{
    background-color: white;
}
#prev_q:hover, #next_q:hover, #submit_q:hover{
    background-color: white;
    color: #0d6efd;
}
.visible2{
    display: flex !important;
}
.tp-product-details-nav-main-thumb img{
    max-width: 400px;
    max-height: 240px;
    object-fit: cover;
}
.form h4{
    color: #fff;
}
.inp-form, .inp-form input{
    width: 100%;
}
.inp-form input{
    font-size: 20px;
    padding: 10px;
    margin: 5px 0;
}
.quiz__error{
    display: none;
    position: absolute;
    z-index: 6;
    background-color: var(--tp-theme-primary);
    border-radius: 8px 8px 0 0;
    flex-direction: column;
    top: -40%;
    padding: 15px;
    width: 100%;
    left: 0%;
}
.tp-footer-bottom{
    margin-bottom: 20px;
    word-wrap: break-word;
}
.quiz_activate{
    width: 100%;
    justify-content: end;
    align-items: end;
    display: none;
    position: absolute;
    top: 100px;
    right: 20px;
}
.quiz_activate span{
    font-size: 26px;
}
@media (max-width:500px) {
    .quiz{
        left: 0rem;
        width: 100%;
        transform: translateY(80%);
    }
    .quiz_activate12{
        display: flex;
    }
    .quiz-active{
        width: 100%;
        z-index: 11;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .quiz__top{
        font-size: 22px;
    }
    .quiz__block span{
        font-size: 18px;
        margin: 5px 0;
    }
    .option{
        font-size: 16px;
    }
    #prev_q, #next_q, #submit_q{
        padding: 2px;
    }
    .quiz__error{
        position: static;
    }
    .form h3{
        font-size: 22px;
    }
}
