{% extends 'include/homepage.html' %}
{% load static %}
{% block content %}
{% include 'include/header.html' %}

      <main>


         <!-- blog details area start -->
         <section class="tp-postbox-details-area pb-120 pt-95">
            <div class="container">
               <div class="row">
                  <div class="">
                     <div class="tp-postbox-details-top">
                        <h3 class="tp-postbox-details-title">{{news.title}}</h3>
                        <div class="tp-postbox-details-meta mb-50 text-center" >
                           <span>
                              <svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                                 <path d="M15 8.5C15 12.364 11.864 15.5 8 15.5C4.136 15.5 1 12.364 1 8.5C1 4.636 4.136 1.5 8 1.5C11.864 1.5 15 4.636 15 8.5Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                 <path d="M10.5972 10.7259L8.42721 9.43093C8.04921 9.20693 7.74121 8.66793 7.74121 8.22693V5.35693" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                              </svg>
                              {{news.create}}
                           </span>
                        </div>
                     </div>
                  </div>
                  <div class="col-xl-12">
                     <div class="tp-postbox-details-thumb make_center">
                        <img class="w-100 h-100" src="{{news.image.url}}" alt="">
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col-xl-2 col-lg-2 col-md-2">
                     <div class="tp-postbox-details-share-2">
                     </div>
                  </div>
                  <div class="col-xl-8 col-lg-8 col-md-10">
                     <div class="tp-postbox-details-main-wrapper tp-postbox-style2">
                        <div class="tp-postbox-details-content">
                           <!-- <p class="tp-dropcap">{{news.descriptions}}</p> -->

                           <!-- <p>{{news.descriptions}}</p> -->


                           <div class="tp-postbox-details-quote">
                              <blockquote>
                                 <div class="tp-postbox-details-quote-shape">
                                    <img class="tp-postbox-details-quote-shape-1" src="{% static 'assets/img/blog/details/shape/line.png' %}" alt="">
                                    <img class="tp-postbox-details-quote-shape-2" src="{% static 'assets/img/blog/details/shape/quote.png' %}" alt="">
                                 </div>
                                 <p>{{news.descriptions}}</p>
                              </blockquote>
                           </div>


                           <div class="tp-postbox-details-share-wrapper">
                              <div class="row">
                                 <div class="col-xl-12">
                                    <div class="tp-postbox-details-tags tagcloud">
                                       <h1>Другие Новости</h1>
                                    </div>
                                 </div>
                              </div>
                           </div>

                           <div class="tp-postbox-details-navigation d-none d-md-flex justify-content-between align-items-center">
                              <div class="tp-postbox-details-navigation-item d-flex align-items-center">
                                 <div class="tp-postbox-details-navigation-icon mr-15">
                                    <span>
                                       <a href="#">
                                          <svg width="17" height="14" viewBox="0 0 17 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                             <path d="M0.999965 7.04891L15.939 7.04891" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                             <path d="M7.02588 1.04883L1.00048 7.04833L7.02588 13.0488" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                          </svg>
                                       </a>
                                    </span>
                                 </div>
                                 <div class="tp-postbox-details-navigation-content">
                                    {% for new in news_others %}
                                    <span>Вам так же может понравиться</span>
                                    <h3 class="tp-postbox-details-navigation-title">
                                       <a href="{% url 'news_detail' new.id %}">{{new.title}}</a>
                                    </h3>
                                    {% endfor %}
                                 </div>
                              </div>
                              <div class="tp-postbox-details-navigation-item d-flex align-items-center text-end">
                                 <div class="tp-postbox-details-navigation-content">
                                    <span>Последняя новость</span>
                                    <h3 class="tp-postbox-details-navigation-title">
                                       <a href="{% url 'news_detail' latest_new.id %}">{{latest_new.title}}</a>
                                    </h3>
                                 </div>
                                 <div class="tp-postbox-details-navigation-icon ml-15">
                                    <span>
                                       <a href="blog-details.html">
                                          <svg width="17" height="14" viewBox="0 0 17 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                             <path d="M15.939 7.00008L1 7.00008" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                             <path d="M9.91211 1L15.9375 6.9995L9.91211 13" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                          </svg>
                                       </a>
                                    </span>
                                 </div>
                              </div>
                           </div>

                        </div>
                     </div>
                  </div>
               </div>
            </div>

         </section>
         <!-- blog details area end -->


      </main>
      

{% include 'include/footer.html' %}
{% endblock %}